/* Global Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f7f7f7;
    transition: background 0.3s;
    background-image: url(./assets/Bitmap1.jpg)
  }
  
  #root {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
   
  }
  
  nav {
    text-align: center;
    margin-bottom: 20px;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
  
  /* App Styles */
  .app {
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .app.light {
    background-color: #ffffff;
    color: #333;
  }
  
  .app.dark {
    background-color: #1e1e1e;
    color: #f7f7f7;
  }
  
  /* Header Styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  header .toggle-container {
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s;
  }
  
  header .toggle-container:hover {
    transform: rotate(20deg);
  }
  
  header input {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: calc(100% - 40px);
    max-width: 400px;
    transition: border-color 0.3s;
  }
  
  header input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Todo List Styles */
  .todo-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .todo-item {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, text-decoration 0.3s, color 0.3s;
  }
  
  .todo-item:hover {
    background-color: #f0f0f0;
  }
  
  .todo-item.completed {
    text-decoration: line-through;
    color: #aaa;
    background-color: #e0e0e0;
  }
  
  .todo-item.completed:hover {
    background-color: #d0d0d0;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  footer span {
    font-size: 14px;
    color: #666;
  }
  
  footer button {
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  footer button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 91, 187, 0.3);
  }
  